{{> admin-navbar}}

<div class="fluid-container d-flex">
    {{> sidebar}}

    <div class="container">
        <div class="title">
            <h1 class="text-primary">Dashboard</h1>
        </div>
    </div>
</div>