{{> navbar hideLogout=true}}

<div class="container">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="form-title col-md-6">
            <h1>ADMIN LOGIN</h1>
        </div>

        <div class="login-box col-md-6">
            <form method="post">
                <div class="login-frm col-12">
                    <div class="form-field">
                        <label for="email">E-MAIL</label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="form-field">
                        <label for="password">PASSWORD</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                </div>
                <button class="btn btn-light rounded-pill col-12" type="submit">LOGIN</button>
            </form>
        </div>
    </div>
</div>