{{> navbar}}

<div class="fluid-container d-flex">
    {{> sidebar}}

    <div class="container">
        <div class="top-bar d-flex justify-content-between align-items-center flex-wrap">
            <div class="title col-3">
                <h1 class="text-primary">Categories</h1>
            </div>
            <div class="actions d-flex flex-wrap justify-content-end align-items-center col-12 col-md-9">
                {{> searchbox for='Category' class='col-8 col-md-9'}}

                <div class="col col-md-3">
                    <a href="categories/create" class="btn btn-primary w-100">New Category</a>
                </div>
            </div>
        </div>
        <div class="list">
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Category id: 98765431</div>
                            <h4 class="title max-line-1 mb-1">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <div class="subtitle">This  is a group of Headset.</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Category id: 98765431</div>
                            <h4 class="title max-line-1 mb-1">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <div class="subtitle">This  is a group of Headset.</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Category id: 98765431</div>
                            <h4 class="title max-line-1 mb-1">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <div class="subtitle">This  is a group of Headset.</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Category id: 98765431</div>
                            <h4 class="title max-line-1 mb-1">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <div class="subtitle">This  is a group of Headset.</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Category id: 98765431</div>
                            <h4 class="title max-line-1 mb-1">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <div class="subtitle">This  is a group of Headset.</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Category id: 98765431</div>
                            <h4 class="title max-line-1 mb-1">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <div class="subtitle">This  is a group of Headset.</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>