<script src="https://accounts.google.com/gsi/client" async defer></script>
{{> navbar hideLogout=true}}

<div class="container">
    <div class="d-flex flex-wrap justify-content-center mt-5">
        <div class="form-title col-md-6">
            <h1>FORGOT PASSWORD</h1>
        </div>

        <div class="login-box col-12 col-md-6">
            <span class="text-danger fw-normal" id="err-message">{{errMessage}}</span>
            <form method="post" id="allField-frm">
                <div class="login-frm col-12">
                    <div class="form-field">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                </div>
                <button class="btn btn-primary rounded-pill fw-bold border col-12" type="submit">SEND OTP</button>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/form.js"></script>