{{> navbar}}

<div class="fluid-container">
    <div class="banner">
        <img class="w-100" src="/images/banner.jpeg" alt="banner">
    </div>
</div>

<div class="mid-container w-95">
    {{!-- Recommended Products --}}
    <div class="section-list-h my-3">
        <h3 class="subtitle fs-3">
            Recommended Products
        </h3>
        <div class="list-h mt-3">
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="fs-6 max-line-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                        quibusdam suscipit sapiente
                        accusantium et, quos animi debitis fugiat enim in ea deserunt voluptatum quaerat consequuntur.
                        Fugiat quaerat pariatur incidunt illo!</div>
                    <div class="d-flex align-items-center sec-ml-1">
                        <div class="strike-price">₹20,900</div>
                        <div class="title">19,600</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Categories --}}
    <div class="section-list-h my-5">
        <h3 class="subtitle fs-3">
            Categories
        </h3>
        <div class="list-h mt-3">
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
            <div class="product-card">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                    alt="img">
                <div class="w-11rem p-2">
                    <div class="title">Headsets</div>
                </div>
            </div>
        </div>
    </div>
</div>