{{> navbar}}

<div class="fluid-container">
    <div class="banner">
        <img class="w-100" src="/images/banner.jpeg" alt="banner">
    </div>
</div>

<div class="mid-container w-95">
    {{!-- Recommended Products --}}
    <div class="section-list-h my-3">
        <div class="d-flex justify-content-between">
            <h3 class="subtitle fs-3">
                Recommended Products
            </h3>
            <a href="/search" class="text-btn">See more</a>
        </div>
        <div class="list-h mt-3">
            {{#each products}}
            {{> basic-product-card product=this}}
            {{/each}}
        </div>
    </div>

    {{!-- Categories --}}
    <div class="section-list-h my-5">
        <h3 class="subtitle fs-3">
            Categories
        </h3>
        <div class="list-h mt-3">
            {{#each categories}}
            <a href="/category/{{_id}}" class="product-card text-reset">
                <img src="{{this.imagePath}}" alt="img" class="object-fit-contain p-2">
                <div class="w-11rem p-2">
                    <div class="title text-capitalize">{{this.title}}</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>