{{> navbar}}

<div class="fluid-container">
    <div class="banner">
        <img class="w-100" src="/images/banner.jpeg" alt="banner">
    </div>
</div>

<div class="mid-container w-95">
    {{!-- Recommended Products --}}
    <div class="section-list-h my-3">
        <h3 class="subtitle fs-3">
            Recommended Products
        </h3>
        <div class="list-h mt-3">
            {{#each products}}
            {{> basic-product-card product=this}}
            {{/each}}
        </div>
    </div>

    {{!-- Categories --}}
    <div class="section-list-h my-5">
        <h3 class="subtitle fs-3">
            Categories
        </h3>
        <div class="list-h mt-3">
            {{#each categories}}
            <div class="product-card">
                <img src="{{this.imagePath}}" alt="img" class="p-2">
                <div class="w-11rem p-2">
                    <div class="title">{{this.title}}</div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>