<script src="https://accounts.google.com/gsi/client" async defer></script>
{{> navbar hideLogout=true}}

<div class="container">
    <div class="d-flex flex-wrap justify-content-center mt-5">
        <div class="form-title col-md-6">
            <h1>LOGIN</h1>
        </div>

        <div class="login-box col-12 col-md-6">
            <span class="text-danger fw-normal" id="err-message">{{errMessage}}</span>
            <form method="post" id="login-frm">
                <div class="login-frm col-12">
                    <div class="form-field">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="form-field">
                        <input type="password" name="password" id="password" placeholder="Password">
                        <a href="/login/forgotpassword" class="text-primary fw-regular fs-7 cursor-pointer" id="resendOtp">Forgot password</a>
                    </div>
                </div>
                <button class="btn btn-primary rounded-pill fw-bold border col-12" type="submit">LOGIN</button>
                <a href="/signup" class="btn btn-light rounded-pill border mt-5 col-12">CREATE NEW ACCOUNT</a>
            </form>

            <div class="text-secondary text-center fs-7 my-1">-------- OR --------</div>

            <div class="d-flex-justify-content-center">
                <div id="g-signin-btn"></div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/form.js"></script>