{{> navbar hideLogout=true}}

<div class="container">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="form-title col-md-6">
            <h1>SIGNUP</h1>
        </div>

        <div class="login-box col-md-6">
            {{#if errMessage}}
               <span class="text-danger fw-normal">*{{errMessage}}</span>
            {{/if}}
            <form method="post">
                <div class="login-frm col-12">
                    <div class="form-field">
                        <label for="name">NAME</label>
                        <input type="name" name="name" id="name" required>
                    </div>
                    <div class="form-field">
                        <label for="email">E-MAIL</label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="form-field">
                        <label for="password">PASSWORD</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="form-field">
                        <label for="mobile">MOBILE NUMBER</label>
                        <input type="tel" name="mobile" id="mobile" required>
                    </div>
                </div>
                <button class="btn btn-light rounded-pill border col-12" type="submit">SIGNUP</button>
                <a href="/login" class="btn btn-primary rounded-pill border mt-3 col-12">I ALREADY HAVE AN ACCOUNT</a>
            </form>
        </div>
    </div>
</div>