{{> navbar hideLogout=true}}

<div class="container">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="form-title col-md-6">
            <h1>VERIFY EMAIL</h1>
        </div>

        <div class="login-box col-md-6">
            <span class="text-danger fw-normal" id="err-message">{{errMessage}}</span>
            <form method="post" id="otp-frm">
                <div class="login-frm col-12">
                    <div class="form-field">
                        <label for="otp">Enter the OTP</label>
                        <input type="number" name="otp" id="otp">
                        <span href="#" class="text-primary fw-regular fs-7 cursor-pointer" id="resendOtp">Resend OTP</span>
                    </div>
                </div>
                <button class="btn btn-primary rounded-pill border col-12" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/form.js"></script>