@media (max-width: 767px) {
    .form-title>h1 {
        font-size: 2rem !important;
    }

    #menubtn {
        display: inline-block !important;
    }

    .fluid-container>.sidebar {
        display: none;
    }

    .offcanvas>.btn {
        margin: 0.5rem;
        width: calc(100% - 1rem);
        border-radius: 1vw;
        text-transform: capitalize;
    }

    .offcanvas {
        overflow-y: scroll;
        padding: 0.5rem;
    }

    .fluid-container>.container {
        margin-right: auto !important;
    }

    .banner>img {
        aspect-ratio: 16 / 9 !important;
    }

    .sm-mt-1 {
        margin-top: 0.25rem;
    }

    .sm-reset-pl {
        padding-left: unset !important;
    }

    .sm-d-none {
        display: none !important;
    }

    .sm-d-unset {
        display: unset !important;
    }
}

@media (min-width: 768px) {
    .md-d-none {
        display: none !important;
    }

    .md-ps-3 {
        padding-left: 1rem;
    }
}

body {
    margin: 0;
}

.fluid-container>.container {
    margin-right: 4.5vw;
}

.mid-container {
    width: 90%;
    margin: 0 4.5vw;
}

nav.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    padding: 1vw 5vw;
    background-color: #fff !important;
}

.navbar .actions {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar .actions>* {
    margin: 0 0.5rem;
}

.btn.btn-primary {
    background: #6F43BF;
    border: 1px solid #6F43BF;
}

.btn.btn-outline-primary {
    border: 1px solid #6F43BF;
    color: #6F43BF;
}

.btn.btn-outline-danger:hover,
.btn.btn-outline-danger:focus,
.btn.btn-danger:hover,
.btn.btn-danger:focus {
    border: 1px solid #dc3545 !important;
    background: #dc3545 !important;
}

.btn:hover,
.btn:focus {
    border: 1px solid #6F43BF !important;
    background: #6F43BF !important;
}

.btn:hover img,
.btn:focus img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(34deg) brightness(108%) contrast(101%);
}

.btn:focus-visible {
    border: 1px solid #6F43BF !important;
    background: #6F43BF !important;
    box-shadow: none !important;
}

.btn:focus-visible img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(34deg) brightness(108%) contrast(101%);
}

#menubtn {
    display: none;
}

.login-box {
    background: #D2BBFF;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1rem;
    padding: 6vw 8vw;
    border-radius: 4.5vw;
}

.login-box input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
}

.login-box input:focus {
    outline: none;
    background: #ffffffb3;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title>h1 {
    color: #6F43BF;
    font-family: 'Roboto Slab';
    font-size: 3rem;
    font-weight: bold;
}

.login-frm>.form-field {
    margin-bottom: 1.5rem;
}

.login-frm {
    margin-bottom: 2.5rem;
}

.sidebar {
    position: sticky;
    top: 4.5rem;
    max-width: 320px;
    max-height: 80vh;
    background-color: #F0EBF8;
    border-radius: 2vw;
    margin-right: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar>.btn {
    margin: 0.5rem;
    width: calc(100% - 1rem);
    border-radius: 1vw;
    text-transform: capitalize;
}

.btn-outline-primary img {
    filter: invert(29%) sepia(15%) saturate(6833%) hue-rotate(240deg) brightness(94%) contrast(90%);
}

.top-bar>.title {
    width: 25%;
}

.title>h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

body .text-primary {
    color: #6F43BF !important;
}

.searchbox {
    display: flex;
    align-items: center;
    background-color: #6F43BF33;
    height: 2.75rem;
    border: 1px solid #000;
    border-radius: 1vw;
    padding: 0.5rem;
}

form {
    width: -webkit-fill-available;
}

.searchbox #search {
    width: -webkit-fill-available;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 0.5rem;
}

.top-bar {
    position: sticky;
    top: 4.5rem;
    width: -webkit-fill-available;
    padding-top: 2px;
    padding-bottom: 0.5rem;
    background-color: #fff;
    z-index: 5;
}

.list .list-item {
    background-color: #6F43BF33;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 2vw;
    margin: 0.5rem 0;
}

.list-item img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 1vw;
    margin-right: 0.5rem;
    object-fit: contain;
    background: #fff;
    padding: 0.5rem;
}

.max-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.fs-7 {
    font-size: 0.75rem;
}

.subtitle {
    font-size: 1.25rem;
}

.status-view-primary {
    color: #6F43BF;
    border: 1px solid #6F43BF;
    border-radius: 0.75rem;
    padding: 0.25rem;
    width: 9rem;
    text-align: center;
}

.text-reset {
    color: inherit !important;
    text-decoration: none !important;
}

.top-bar>.actions>*:not(:first-child) {
    padding-left: 1rem;
}

.br-1 {
    bottom: 0.5rem;
    right: 0.5rem;
}

.icon-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 25%;
    width: 3rem;
    height: 3rem;
    transition: 0.2s;
}

.icon-btn:hover {
    background-color: #6F43BF33;
}

.banner {
    width: 100%;
}

.banner>img {
    aspect-ratio: 125 / 35;
    object-fit: cover;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.w-30px {
    width: 3.5rem;
}

.list-h {
    display: flex;
    overflow-x: scroll;
}

.list-h::-webkit-scrollbar {
    display: none;
}

.product-card {
    background-color: #6e43bf33;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 1.5rem;
}

.product-card img {
    width: 11rem;
    height: 11rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: auto;
}

.w-11rem {
    width: 11rem;
}

.sec-ml-1>*:not(:first-child) {
    margin-left: 0.5rem;
}

.product-card .strike-price {
    text-decoration: line-through;
    font-size: 0.9rem;
}

.product-card .title {
    font-weight: bold;
    font-size: 1.2rem;
}

.w-95 {
    width: 95%;
}

.filter-contrast {
    filter: contrast(0.5);
}

.product-view {
    display: flex;
    flex-wrap: wrap;
}

.product-image {
    border: 1px solid #6F43BF;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.product-image img {
    border-radius: 1rem;
}

.carousel-indicators button[data-bs-target] {
    background-color: #00000040;
}

#carouselExampleIndicators:hover .carousel-indicators,
#carouselExampleIndicators:hover .carousel-control {
    visibility: visible;
    opacity: 1;
}

.carousel-indicators,
button.carousel-control {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s linear;
}

.box-primary {
    color: #fff;
    background-color: #6F43BF;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.outline-box-primary {
    border: 1px solid #6F43BF;
    color: #6F43BF;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.price-details {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.outlined-card {
    background-color: #6e43bf33;
    padding: .5rem;
    border: 1px solid #6F43BF;
    border-radius: 1rem;
}

.center-box-v-17 {
    height: 17rem;
    width: 17rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder-primary::placeholder {
    color: #6e43bfb3;
}

.outline-none,
.outline-none:focus-visible {
    outline: none;
}

textarea#description::-webkit-scrollbar {
    display: none;
}

.h-100 {
    height: 100%;
}

#image-picker {
    cursor: pointer;
}