<aside class="col-md-3 sm-d-none">
    <a href="/account" class="btn text-start text-primary bg-light fw-bold my-1 w-100">Personal Details</a>
    <a href="/account/address" class="btn text-start text-primary bg-light fw-bold my-1 w-100">Addresses</a>
    <a href="/account/orders" class="btn text-start text-primary bg-light fw-bold my-1 w-100">Orders</a>
    <a href="/account/wallet" class="btn text-start text-primary bg-light fw-bold my-1 w-100">Wallet</a>
</aside>