<div class="outlined-card p-0">
    <div class="text-primary fs-4 fw-medium border-bottom border-primary px-2 pt-2">Price Details</div>
    {{#with priceDetails}}
    <div class="p-2">
        <div id="priceDatas">
            <div class="d-flex justify-content-between fs-6 py-2">
                <div>Total Prices</div>
                <div id="totalPrice">₹{{formatNumber totalPrice}}</div>
            </div>
            <div class="d-none justify-content-between fs-6 py-2" id="promocodeSummary">
                <div>Promocode</div>
                <div class="text-primary" id="promocodeValue"></div>
            </div>
            <div class="d-flex justify-content-between fs-6 py-2">
                <div>Delivery Charge</div>
                <div {{#unless deliveryCharge}}class="text-primary" id="deliveryCharge"> Free {{else}}>
                    ₹{{deliveryCharge}} {{/unless}}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between fs-5 fw-bold pt-3 pb-2">
            <div>Total Amount</div>
            <div class="text-primary" id="totalAmount">₹{{formatNumber (sum totalPrice deliveryCharge)}}</div>
        </div>
    </div>
    {{/with}}
</div>