{{> navbar}}

<aside class="col-md-3 sm-d-none">
    <a href="#" class="btn text-start text-primary bg-light fw-bold my-1 w-100">Order Details</a>
    <a href="#orderStatus" class="btn text-start text-primary bg-light fw-bold my-1 w-100">Status</a>
    <a href="#orderReview" class="btn text-start text-primary bg-light fw-bold my-1 w-100">Review</a>
    <a href="#orderReturn" class="btn text-start text-primary bg-light fw-bold my-1 w-100">Return</a>
    <a href="#orderShippingAddress" class="btn text-start text-primary bg-light fw-bold my-1 w-100">Shipping Address</a>
</aside>

<div class="container col-md-9 sm me-0">
    <div id="orderDetails">
        <h3 class="text-primary my-1">Order Details</h3>
        <div class="list col-12 px-2">
            <div class="list">
                <div class="list-item position-relative border-primary">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="/images/uploads/images171592016477019381.webp" alt="img">
                        </div>
                        <div class="datas w-100">
                            <h4 class="title max-line-2">Apple iPhone 15 Pro (1 TB) - White Titanium</h4>
                            <div class="price-details pt-1 pb-2 flex-wrap">
                                <div class="text-black-50 text-decoration-line-through fs-6">₹20,900</div>
                                <div class="d-flex align-items-center">
                                    <div class="fs-4 fw-bold mx-3">₹19,600</div>
                                    <div class="text-primary fw-bold hide-col"> 6% OFF</div>
                                </div>
                            </div>
                        </div>
                        <div class="box-primary text-capitalize rounded-3 position-absolute br-2">Quantity: 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4" id="orderStatus">
        <h3 class="text-primary my-1">Status</h3>
        <div class="card-primary-light px-3 py-1 my-3 col-12 col-md-6">
            <div class="d-flex align-items-center my-3">
                <div class="text-primary fs-1-15rem fw-bold">Order Confirmed</div>
                <div class="ms-2">at 29th Apr, 2024</div>
            </div>
            <div class="d-flex align-items-center my-3">
                <div class="text-primary fs-1-15rem fw-bold">Shipped</div>
                <div class="ms-2">at 30th Apr, 2024</div>
            </div>
            <div class="d-flex align-items-center my-3">
                <div class="text-primary fs-1-15rem fw-bold">Delivered</div>
                <div class="ms-2">at 30th Apr, 2024</div>
            </div>
        </div>
    </div>

    <div class="mt-4" id="orderReview">
        <h3 class="text-primary my-1">Review</h3>
        <div class="flex mt-3 mb-2">
            <svg class="cursor-pointer mx-1" width="32" height="30" viewBox="0 0 32 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.6632 9.80315L16.0264 2.56125L19.3895 9.80315C19.7538 10.5875 20.4976 11.1279 21.3562 11.232L29.2829 12.1927L23.4347 17.6291C22.8013 18.218 22.5172 19.0923 22.6835 19.941L24.2194 27.7767L17.2418 23.8947C16.4861 23.4742 15.5667 23.4742 14.8109 23.8947L7.83337 27.7767L9.36919 19.941C9.53553 19.0924 9.25143 18.218 8.618 17.6291L2.76982 12.1927L10.6966 11.232C11.5551 11.1279 12.2989 10.5875 12.6632 9.80315Z"
                    stroke="#6F43BF" stroke-width="3" />
            </svg>
            <svg class="cursor-pointer mx-1" width="32" height="30" viewBox="0 0 32 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.6632 9.80315L16.0264 2.56125L19.3895 9.80315C19.7538 10.5875 20.4976 11.1279 21.3562 11.232L29.2829 12.1927L23.4347 17.6291C22.8013 18.218 22.5172 19.0923 22.6835 19.941L24.2194 27.7767L17.2418 23.8947C16.4861 23.4742 15.5667 23.4742 14.8109 23.8947L7.83337 27.7767L9.36919 19.941C9.53553 19.0924 9.25143 18.218 8.618 17.6291L2.76982 12.1927L10.6966 11.232C11.5551 11.1279 12.2989 10.5875 12.6632 9.80315Z"
                    stroke="#6F43BF" stroke-width="3" />
            </svg>
            <svg class="cursor-pointer mx-1" width="32" height="30" viewBox="0 0 32 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.6632 9.80315L16.0264 2.56125L19.3895 9.80315C19.7538 10.5875 20.4976 11.1279 21.3562 11.232L29.2829 12.1927L23.4347 17.6291C22.8013 18.218 22.5172 19.0923 22.6835 19.941L24.2194 27.7767L17.2418 23.8947C16.4861 23.4742 15.5667 23.4742 14.8109 23.8947L7.83337 27.7767L9.36919 19.941C9.53553 19.0924 9.25143 18.218 8.618 17.6291L2.76982 12.1927L10.6966 11.232C11.5551 11.1279 12.2989 10.5875 12.6632 9.80315Z"
                    stroke="#6F43BF" stroke-width="3" />
            </svg>
            <svg class="cursor-pointer mx-1" width="32" height="30" viewBox="0 0 32 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.6632 9.80315L16.0264 2.56125L19.3895 9.80315C19.7538 10.5875 20.4976 11.1279 21.3562 11.232L29.2829 12.1927L23.4347 17.6291C22.8013 18.218 22.5172 19.0923 22.6835 19.941L24.2194 27.7767L17.2418 23.8947C16.4861 23.4742 15.5667 23.4742 14.8109 23.8947L7.83337 27.7767L9.36919 19.941C9.53553 19.0924 9.25143 18.218 8.618 17.6291L2.76982 12.1927L10.6966 11.232C11.5551 11.1279 12.2989 10.5875 12.6632 9.80315Z"
                    stroke="#6F43BF" stroke-width="3" />
            </svg>
            <svg class="cursor-pointer mx-1" width="32" height="30" viewBox="0 0 32 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.6632 9.80315L16.0264 2.56125L19.3895 9.80315C19.7538 10.5875 20.4976 11.1279 21.3562 11.232L29.2829 12.1927L23.4347 17.6291C22.8013 18.218 22.5172 19.0923 22.6835 19.941L24.2194 27.7767L17.2418 23.8947C16.4861 23.4742 15.5667 23.4742 14.8109 23.8947L7.83337 27.7767L9.36919 19.941C9.53553 19.0924 9.25143 18.218 8.618 17.6291L2.76982 12.1927L10.6966 11.232C11.5551 11.1279 12.2989 10.5875 12.6632 9.80315Z"
                    stroke="#6F43BF" stroke-width="3" />
            </svg>
        </div>
        <div class="d-flex">
            <textarea name="review" id="review"
                class="outlined-card placeholder-primary rounded-3 outline-none col-12 col-md my-2"
                placeholder="Address (Area and Street)" style="height: 100px"></textarea>
        </div>
    </div>

    <div class="mt-4" id="orderReturn">
        <h3 class="text-primary my-1">Return</h3>
        <div class="text-primary fs-6 ms-1 mt-3">Return valid up to 7th May 2024</div>
        <div class="card-primary-light p-2 rounded-3 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center ms-2">
                    <div class="text-primary fs-1-15rem fw-bold">Quantity</div>
                    <div class="ms-3">
                        <select class="btn btn-outline-primary rounded-3 w-100" name="returnQuantity"
                            id="returnQuantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div>
                    {{!-- Add button --}}
                    <a href="/account/address/add?redirect={{currentPath}}" class="icon-btn">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 5V19" stroke="#6F43BF" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M5 12H19" stroke="#6F43BF" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="d-flex flex-wrap justify-content-between align-items-end">
                <div class="list mx-2 mt-3">
                    <div class="d-flex justify-content-between mb-2">
                        <div class="d-flex align-items-start">
                            <input type="radio" value="{id}" class="radio-primary m-2" name="addressId"
                                id="address{id}">
                            <label for="address{id}">
                                <div class="cursor-pointer ms-2">
                                    <div class="fs-6 fw-bold">Henry Arthur</div>
                                    <div class="fs-6">
                                        2118 Thornridge Cir. Syracuse, Connecticut 35624, 9876543210
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <div class="d-flex align-items-start">
                            <input type="radio" value="{id}" class="radio-primary m-2" name="addressId"
                                id="address{id2}">
                            <label for="address{id2}">
                                <div class="cursor-pointer ms-2">
                                    <div class="fs-6 fw-bold">Henry Arthur</div>
                                    <div class="fs-6">
                                        2118 Thornridge Cir. Syracuse, Connecticut 35624, 9876543210
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end col m-2">
                    <button class="btn btn-outline-primary">Return</button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4" id="orderShippingAddress">
        <h3 class="text-primary my-1">Shipping Address</h3>
        <div class="card-primary-light rounded-3 p-2 pb-4 my-3">
            <div class="fs-1-15rem fw-bold">Henry Arthur</div>
            <div>2118 Thornridge Cir. Syracuse, Connecticut 35624, 9876543210</div>
        </div>
    </div>
</div>

<script src="/javascript/form.js"></script>