{{> navbar}}

<div class="container">
    <div class="d-flex">
        <div class="col">
            <img src="/images/order-confirmed.svg" alt="Order Confirmed">
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center col">
            <div class="text-primary fs-3 fw-bold my-1">Order Placed Successfully</div>
            <a href="/" class="btn btn-primary my-1">CONTINUE SHOPPING</a>
        </div>
    </div>
</div>