{{> navbar}}

<div class="fluid-container d-flex">
    {{> sidebar}}

    <div class="container">
        <div class="d-flex justify-content-between align-items-center top-bar">
            <div class="title">
                <h1 class="text-primary">Users</h1>
            </div>
            <div class="actions">
                {{> searchbox for='users'}}
            </div>
        </div>
        <div class="hello">
            
        </div>
    </div>
</div>