{{> admin-navbar}}

<div class="fluid-container d-flex">
    {{> sidebar}}

    <div class="container">
        <div class="top-bar d-flex justify-content-between align-items-center">
            <div class="title">
                <h1 class="text-primary">Users</h1>
            </div>
            <div class="actions col-9 col-md-9">
                {{> searchbox for='users' class='col-12'}}
            </div>
        </div>
        <div class="list">
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
            <div class="list-item d-flex justify-content-between">
                <div class="content">
                    <div class="text-primary fs-7">User id: 98765431</div>
                    <h4 class="title">Henry Arthur</h4>
                    <div class="subtitle">michelle.rivera@example.com</div>
                    <div class="subtitle">9876543210</div>
                </div>
                <div class="trailing">
                    <div class="actions">
                        <button class="btn btn-danger">Block</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>