{{> admin-navbar}}

<div class="fluid-container d-flex">
    {{> sidebar}}

    <div class="container">
        <div class="top-bar d-flex justify-content-between align-items-center flex-wrap">
            <div class="title col-3">
                <h1 class="text-primary">Products</h1>
            </div>
            <div class="actions d-flex flex-wrap justify-content-end align-items-center col-12 col-md-9">
                {{> searchbox for='products' class='col-8 col-md-6'}}

                <div class="col col-md-3">
                    <select class="btn btn-outline-primary w-100" name="status" id="status">
                        <option value="all">All</option>
                        <option value="confirmed">Active</option>
                        <option value="shipped">Inactive</option>
                        <option value="delivered">Sold out</option>
                    </select>
                </div>

                <div class=" sm-reset-pl sm-mt-1 col-12 col-md-3">
                    <a href="products/add" class="btn btn-primary w-100">New Product</a>
                </div>
            </div>
        </div>
        <div class="list">
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Product id: 98765431</div>
                            <h4 class="title max-line-1 mb-3">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <h4 class="title">19,600</h4>
                        </div>
                    </div>

                    <div class="p-1 bg-light rounded-4 position-absolute br-1">
                        <div class="status-view-primary">
                            Delivered
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Product id: 98765431</div>
                            <h4 class="title max-line-1 mb-3">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <h4 class="title">19,600</h4>
                        </div>
                    </div>

                    <div class="p-1 bg-light rounded-4 position-absolute br-1">
                        <div class="status-view-primary">
                            Delivered
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Product id: 98765431</div>
                            <h4 class="title max-line-1 mb-3">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <h4 class="title">19,600</h4>
                        </div>
                    </div>

                    <div class="p-1 bg-light rounded-4 position-absolute br-1">
                        <div class="status-view-primary">
                            Delivered
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Product id: 98765431</div>
                            <h4 class="title max-line-1 mb-3">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <h4 class="title">19,600</h4>
                        </div>
                    </div>

                    <div class="p-1 bg-light rounded-4 position-absolute br-1">
                        <div class="status-view-primary">
                            Delivered
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Product id: 98765431</div>
                            <h4 class="title max-line-1 mb-3">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <h4 class="title">19,600</h4>
                        </div>
                    </div>

                    <div class="p-1 bg-light rounded-4 position-absolute br-1">
                        <div class="status-view-primary">
                            Delivered
                        </div>
                    </div>
                </div>
            </a>
            <a class="text-reset" href="#">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        <div class="leading">
                            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                                alt="img">
                        </div>
                        <div class="datas">
                            <div class="text-primary fs-7">Product id: 98765431</div>
                            <h4 class="title max-line-1 mb-3">
                                Rubbermaid Commercial 1250 Lb Capacity Standard Duty Tilt
                                Truck
                                -
                                1250 Lb
                                Capacity - X 33.5in Width X 72.2in Depth X 43.8in Height - Black - 1 Each
                            </h4>
                            <h4 class="title">19,600</h4>
                        </div>
                    </div>

                    <div class="p-1 bg-light rounded-4 position-absolute br-1">
                        <div class="status-view-primary">
                            Delivered
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>