{{> admin-navbar}}

<div class="fluid-container d-flex">
    {{> sidebar}}

    <div class="container">
        <div class="top-bar d-flex justify-content-between align-items-center flex-wrap">
            <div class="title col-3">
                <h1 class="text-primary">Products</h1>
            </div>
            <div class="actions d-flex flex-wrap justify-content-end align-items-center col-12 col-md-9">
                {{> searchbox for='products' class='col-12 col-md-6'}}

                <div class=" sm-reset-pl sm-mt-1 col">
                    <select class="btn btn-outline-primary w-100" name="status" id="status">
                        <option value="all">All</option>
                        <option value="confirmed">Active</option>
                        <option value="shipped">Inactive</option>
                        <option value="delivered">Sold out</option>
                    </select>
                </div>

                <div class="sm-mt-1 col">
                    <a href="products/add" class="btn btn-primary w-100">New Product</a>
                </div>
            </div>
        </div>
        <div class="list">
            {{#each products}}
            {{> product-list-item product=this}}
            {{/each}}
        </div>
    </div>
</div>