<nav class="navbar bg-body-tertiary fixed-top">
    <div class="logo">        
        <a href="/admin"> <img src="/images/bitkart-admin.svg" alt="logo"></a>
    </div>

    {{#if hideLogout}}
    {{else}}
    <a href="/logout" class="btn btn-outline-primary"> Logout </a>
    {{/if}}
</nav>