<nav>
    <a href="/admin"> <img src="/images/bitkart-admin.svg" alt="logo"></a>

    {{#if hideLogout}}
    {{else}}
    <a href="/logout" class="btn btn-outline-primary"> Logout </a>
    {{/if}}
</nav>